<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqut.wangyu.crm.system.customer.dao.CustomerDao">
    <!--注册-->
    <insert id="insertCustomer" parameterType="com.cqut.wangyu.crm.system.customer.entity.Customer">
        insert into customer (customerName,
                              customerPhone,
                              customerAddress,
                              customerUrl,
                              customerType,
                              customerStatus,
                              customerDate)
        values (#{customerName},
                #{customerPhone},
                #{customerAddress},
                #{customerUrl},
                #{customerType},
                #{customerStatus},
                #{customerDate})
    </insert>
    <!--根据ID查用户-->
    <select id="selectCustomerById" parameterType="java.lang.Integer"
            resultType="com.cqut.wangyu.crm.system.customer.entity.Customer">
        select *
        from customer
        where customerID = #{cusId}
    </select>
    <!--根据用户名查用户-->
    <select id="selectCustomerByName" parameterType="java.lang.String"
            resultType="com.cqut.wangyu.crm.system.customer.entity.Customer">
        select *
        from customer
        where customerName = #{cusName}
    </select>
    <!--根据ID修改用户-->
    <update id="updateCustomer" parameterType="com.cqut.wangyu.crm.system.customer.entity.Customer">
        update customer
        set customerName    = #{customerName},
            customerPhone   = #{customerPhone},
            customerAddress = #{customerAddress},
            customerUrl     = #{customerUrl},
            customerType    = #{customerType},
            customerStatus  = #{customerStatus},
            customerDate    = #{customerDate},
            lng             = #{lng},
            lat             = #{lat}
        where customerID = #{customerID}
    </update>
    <!--根据ID删除客户-->
    <delete id="deleteCustomer" parameterType="java.lang.Integer">
        delete
        from customer
        where customerID = #{cusId}
    </delete>
    <!--根据cusNo查询客户-->
    <select id="selectCustomerByNo" parameterType="String" resultType="Customer">
        select *
        from customer
        where cusNo = #{cusNo}
    </select>
    <!--查询页内满足条件的客户-->
    <select id="selectPageCustomer" parameterType="com.cqut.wangyu.crm.system.dto.PageQueryDTO"
            resultType="com.cqut.wangyu.crm.system.customer.entity.Customer">
        select *
        from customer
        where ${sql}
        order by customerID
    </select>
    <!--查询所有客户-->
    <select id="selectAllCustomer" resultType="com.cqut.wangyu.crm.system.customer.entity.Customer">
        select *
        from customer
        order by customerID
    </select>
    <!--查询所有客户地址-->
    <select id="selectAllCustomerAddress" parameterType="com.cqut.wangyu.crm.system.dto.PageQueryDTO"
            resultType="com.cqut.wangyu.crm.system.customer.entity.Customer">
        select *
        from customer
        where ${sql}
        order by customerID
    </select>
    <!--查询所有客户-->
    <select id="selectMonthlyStatistics" resultType="java.lang.Integer">
        select count(*)
        from customer
        where year(customerDate) = DATE_FORMAT(NOW(), '%Y')
        group by month(customerDate)
    </select>
    <insert id="insertForeach" parameterType="java.util.List" useGeneratedKeys="false">
        insert into customer
        ( cusId,cusNo,cusName,cusPhone,cusAddr,cusUrl,cusLevel,cusCredit,customerDate)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            null,
            #{item.cusNo},
            #{item.cusName},
            #{item.cusPhone},
            #{item.cusAddr},
            #{item.cusUrl},
            #{item.cusLevel},
            #{item.cusCredit},
            #{item.customerDate}
            )
        </foreach>
    </insert>
</mapper>