<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqut.wangyu.crm.dao.CustomerDao">
    <!--注册-->
    <insert id="insertCustomer" parameterType="com.cqut.wangyu.crm.entity.Customer">
        insert into customer (cusNo, cusName, cusPhone, cusAddr, cusUrl, cusLevel, cusCredit)
        values (#{cusNo}, #{cusName}, #{cusPhone}, #{cusAddr}, #{cusUrl}, #{cusLevel}, #{cusCredit})
    </insert>
    <!--根据ID查用户-->
    <select id="selectCustomerById" parameterType="java.lang.Integer" resultType="com.cqut.wangyu.crm.entity.Customer">
        select *
        from customer
        where cusId = #{cusId}
    </select>
    <!--根据用户名查用户-->
    <select id="selectCustomerByName" parameterType="java.lang.String" resultType="com.cqut.wangyu.crm.entity.Customer">
        select *
        from customer
        where cusName = #{cusName}
    </select>
    <!--根据ID修改用户-->
    <update id="updateCustomer" parameterType="Customer">
        update customer
        set cusNo   = #{cusNo},
            cusName   = #{cusName},
            cusPhone  = #{cusPhone},
            cusAddr   = #{cusAddr},
            cusUrl    = #{cusUrl},
            cusLevel  = #{cusLevel},
            cusCredit = #{cusCredit}
        where cusId = #{cusId}
    </update>
    <!--根据ID删除客户-->
    <delete id="deleteCustomer" parameterType="java.lang.Integer">
        delete
        from customer
        where cusId = #{cusId}
    </delete>
    <!--根据cusNo查询客户-->
    <select id="selectCustomerByNo" parameterType="String" resultType="Customer">
        select *
        from customer
        where cusNo = #{cusNo}
    </select>
    <!--查询页内满足条件的客户-->
    <select id="selectPageCustomer" parameterType="com.cqut.wangyu.crm.dto.PageQueryDTO"
            resultType="com.cqut.wangyu.crm.entity.Customer">
        select *
        from customer
        where ${sql}
        order by cusId
    </select>
    <!--查询所有客户-->
    <select id="selectAllCustomer" resultType="com.cqut.wangyu.crm.entity.Customer">
        select *
        from customer
        order by cusId
    </select>
    <insert id="insertForeach" parameterType="java.util.List" useGeneratedKeys="false">
        insert into customer
        ( cusId,cusNo,cusName,cusPhone,cusAddr,cusUrl,cusLevel,cusCredit)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            null,
            #{item.cusNo},
            #{item.cusName},
            #{item.cusPhone},
            #{item.cusAddr},
            #{item.cusUrl},
            #{item.cusLevel},
            #{item.cusCredit}
            )
        </foreach>
    </insert>
</mapper>