<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqut.wangyu.crm.dao.FollowDao">
    <!--注册-->
    <insert id="insertFollow" parameterType="com.cqut.wangyu.crm.entity.Follow">
        insert into follow (followContent, followDate, followType, customerID, contactID)
        values (#{followContent}, #{followDate}, #{followType}, #{customerID}, #{contactID})
    </insert>
    <!--根据ID查用户-->
    <select id="selectFollowById" parameterType="java.lang.Integer" resultType="com.cqut.wangyu.crm.entity.Follow">
        select *
        from follow
        where followID = #{folId}
    </select>
    <!--根据ID查用户-->
    <select id="selectFollowByCusID" parameterType="java.lang.Integer" resultType="com.cqut.wangyu.crm.dto.FollowDTO">
        select *
        from follow
                 left join customer c on follow.customerID = c.customerID
                 left join contact c2 on follow.contactID = c2.contactID
        where follow.customerID = #{cusID}
    </select>
    <!--根据用户名查用户-->
    <select id="findFollowByCustomerName" parameterType="java.lang.String"
            resultType="com.cqut.wangyu.crm.entity.Follow">
        select *
        from follow
        where customerName = #{cusName}
    </select>
    <!--根据ID修改用户-->
    <update id="updateFollow" parameterType="Follow">
        update follow
        set customerName  = #{customerName},
            followContent = #{followContent},
            followDate    = #{followDate},
            followType    = #{followType},
            customerID    = #{customerID},
            contactID     = #{contactID},
            contactName   = #{contactName}
        where followID = #{followID}
    </update>
    <!--根据ID删除客户-->
    <delete id="deleteFollow" parameterType="java.lang.Integer">
        delete
        from follow
        where followID = #{folId}
    </delete>
    <!--查询页内满足条件的客户-->
    <select id="selectPageFollow" parameterType="com.cqut.wangyu.crm.dto.PageQueryDTO"
            resultType="com.cqut.wangyu.crm.dto.FollowDTO">
        select *
        from follow
                 left join contact c on follow.contactID = c.contactID
                 left join customer c2 on c.customerID = c2.customerID
        where ${sql}
        order by followID
    </select>
    <!--查询所有客户-->
    <select id="selectAllFollow" resultType="com.cqut.wangyu.crm.dto.FollowDTO">
        select *
        from follow
                 left join contact c on follow.contactID = c.contactID
                 left join customer c2 on c.customerID = c2.customerID
        order by followID
    </select>
    <insert id="insertForeach" parameterType="java.util.List" useGeneratedKeys="false">
        insert into follow
        (followID, followContent, followDate, followType, customerID,contactID)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            null,
            #{item.followContent},
            #{item.followDate},
            #{item.followType},
            #{item.customerID},
            #{item.contactID}
            )
        </foreach>
    </insert>
</mapper>